@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 138, 172, 127;
  --background-end-rgb: 251, 255, 212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-navbar {
  background-color: rgba(255, 255, 255, 0.4); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Optional: Apply a blur effect to the background */
  }
