@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 222,73,28;
  --background-end-rgb: 109,36,14;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(to bottom, #1f0d0d 0%, #502621 70%, #8d4034 100%);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.image {
  object-fit: cover;
}

.card-image {
  object-fit: cover;
  height: 500px;
}
.gap-4{
  gap: 3rem;
}
.card {
  height: 635px; /* Adjust width as needed */
}

  
.image-container{
  object-fit: fill;
}


/* Navbar CSS*/
.custom-navbar {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px);
  }


/* Carousel CSS*/
  .item {
    min-height: 40rem; /* Add a maximum height to prevent images from getting too large */
    min-width: 30rem; /* Add a maximum width to prevent images from getting too large */
    padding: 40px;
  }


.item img{
  height: 75%;
  width: 100%;
  border-radius: 2rem;
  pointer-events: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}

.inner-carousel {
  display: flex;
}


.carousel {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

